---
import type { GetStaticPaths, Page } from "astro";
import { getLocalePlaceholder, t } from "i18n:astro";
import { getCollectionWithFallback } from "@utils/utils";
import BaseLayout from "@layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";
import BlogPreview from "@components/BlogPreview.astro";
import Pagination from "@components/TemplateComponents/Pagination.astro";

export const getStaticPaths = (async ({ paginate }) => {
	const locale = getLocalePlaceholder();
	const posts = await getCollectionWithFallback("blog", locale);
	const sortedPosts = posts.sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf());

	return paginate(sortedPosts, {
		pageSize: 8,
	});
}) satisfies GetStaticPaths;

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import { getOptimizedImage } from "@utils/utils";
import landingImage from "@assets/images/landing.webp"; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage);

const { page } = Astro.props as { page: Page };
export const prerender = true;
---

<BaseLayout title={t("blog:landing")} description={t("blog:description")} preloadedImage={optimizedImage}>
	<!-- ============================================ -->
	<!--                    LANDING                   -->
	<!-- ============================================ -->

	<Landing title={t("blog:landing")} image={optimizedImage} />

	<!-- ============================================ -->
	<!--                    Blog                      -->
	<!-- ============================================ -->

	<section id="blog-1144">
		<div class="cs-container">
			<div class="cs-content">
				<div class="cs-content-flex">
					<span class="cs-topper">{t("blog:topper")}</span>
					<h2 class="cs-title">{t("blog:title")}</h2>
				</div>
			</div>
			<ul class="cs-card-group">
				{page.data.map((post) => <BlogPreview post={post} />)}
			</ul>
			<!-- Pagination -->
			<Pagination page={page} />
		</div>
	</section>

	<CTA />
</BaseLayout>

<style lang="less">
	#blog-1144 {
		padding: var(--sectionPadding);
		position: relative;
		z-index: 1;

		.cs-container {
			width: 100%;
			max-width: 80rem;
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 2rem;
		}

		.cs-content {
			text-align: left;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		.cs-title {
			max-width: 20ch;
		}

		.cs-card-group {
			width: 100%;
			padding: 0;
			margin: 0;
			display: grid;
			grid-template-columns: 1fr;
			gap: 1rem;
		}
	}

	@media only screen and (min-width: 30rem) {
		#blog-1144 .cs-card-group {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media only screen and (min-width: 48rem) {
		#blog-1144 {
			.cs-content {
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-end;
			}

			.cs-title {
				margin: 0;
			}

			.cs-card-group {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}

	@media only screen and (min-width: 64rem) {
		#blog-1144 .cs-card-group {
			grid-template-columns: repeat(4, 1fr);
		}
	}
</style>
