---
import BaseLayout from "@layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";
import { t } from "i18n:astro";
import { getOptimizedImage } from "@utils/utils";
import landingImage from "@assets/images/visitagiasos-front.jpg";
const optimizedImage = await getOptimizedImage(landingImage);
export const prerender = true;
---

<BaseLayout
  title={t("about-page.landing")}
  description={t("about-page.description")}
  preloadedImage={optimizedImage}
>
  <Landing
    title={t("about-page.landing")}
    image={optimizedImage}
  />

  <!-- Who we are -->
  <section id="sbs">
    <div class="cs-container">
      <div class="cs-left big-img">
        <picture class="cs-picture cs-picture1">
          <source media="(max-width: 600px)" srcset="/assets/images/VisitAgiasos-intro-crop.gif" />
          <source media="(min-width: 601px)" srcset="/assets/images/VisitAgiasos-intro-crop.gif" />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/VisitAgiasos-intro-crop.gif"
            alt="Visit Agiasos introduction"
            loading="lazy"
            width="618"
            height="563"
          />
        </picture>
      </div>
      <div class="cs-right">
        <span class="cs-topper">{t("about-page.topper")}</span>
        <h2 class="cs-title">{t("about-page.title")}</h2>
        <p class="cs-text">{t("about-page.intro")}</p>
      </div>
    </div>
  </section>

  <!-- Our History -->
  <section id="sbs">
    <div class="cs-container cs-paragraph">
      <div class="cs-left order-2">
        <picture class="cs-picture cs-picture1">
          <source media="(max-width: 600px)" srcset="/assets/images/va-christmas.webp" />
          <source media="(min-width: 601px)" srcset="/assets/images/va-christmas.webp" />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/va-christmas.webp"
            alt="Visit Agiasos Christmas event"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
      </div>
      <div class="cs-right">
        <h2 class="cs-title">{t("about-page.historyTitle")}</h2>
        <p class="cs-text">{t("about-page.history-1")}</p>
        <p class="cs-text">{t("about-page.history-2")}</p>
      </div>
    </div>
    <div class="cs-container cs-paragraph">
      <div class="cs-left">
        <picture class="cs-picture cs-picture1">
          <source media="(max-width: 600px)" srcset="/assets/images/va-christmas.webp" />
          <source media="(min-width: 601px)" srcset="/assets/images/va-christmas.webp" />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/va-christmas.webp"
            alt="Visit Agiasos community event"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
      </div>
      <div class="cs-right">
        <p class="cs-text">{t("about-page.history-3")}</p>
        <p class="cs-text" set:html={t("about-page.history-4")} />
      </div>
    </div>
    <div class="cs-container cs-paragraph">
      <div class="cs-left order-2">
        <picture class="cs-picture cs-picture1">
          <source media="(max-width: 600px)" srcset="/assets/images/va-christmas.webp" />
          <source media="(min-width: 601px)" srcset="/assets/images/va-christmas.webp" />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/va-christmas.webp"
            alt="Visit Agiasos partners"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
      </div>
      <div class="cs-right">
        <p class="cs-text">{t("about-page.history-5")}</p>
        <p class="cs-text">{t("about-page.history-6")}</p>
      </div>
    </div>
  </section>

  <CTA />
</BaseLayout>

<style lang="less">
  #sbs {
    padding: var(--sectionPadding);

    .cs-container {
      width: 92%;
      max-width: (1280/16rem);
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      row-gap: (40/16rem);
    }

    .cs-container.cs-paragraph {
      margin-bottom: 2rem;
    }

    .cs-left {
      width: 100%;
      position: relative;

      &.big-img {
        max-width: (618/16rem);
      }
    }

    .cs-picture {
      border-radius: (24/16em);
      display: block;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
      }
    }

    .cs-picture1 {
      width: 100%;
    }

    .cs-right {
      width: 100%;
    }

    .cs-topper {
      text-align: left;
      margin-bottom: (4/16rem);
    }

    .cs-title {
      text-align: left;
      max-width: (800/16rem);
    }

    .cs-text {
      text-align: left;
      max-width: (750/16rem);
      margin-bottom: (16/16rem);
      color: var(--bodyTextColor);

      &:last-of-type {
        margin-bottom: (32/16rem);
      }

      a {
        color: var(--primary);
        text-decoration: underline;
      }
    }

    .order-2 {
      order: 0;
    }
  }

  @media only screen and (min-width: 64em) {
    #sbs {
      .cs-container {
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        gap: (52/16rem);
      }

      .cs-left {
        flex: 0 0 45%;
        max-width: 45%;
      }

      .cs-right {
        flex: 1 1 0%;
      }

      .order-2 {
        order: 2;
      }
    }
  }
</style>
